## **Statistical loan Analysis for Risk Mitigation and Client Solvency using SQL**

---
### **Overview**

This project seeks to uncover meaningful trends and patterns that can inform more prudent and sustainable lending decisions. By translating data into actionable insights, it supports financial professionals in making well-informed decisions, strengthening risk assessment processes, and promoting responsible lending practices. In the ever-evolving financial services landscape, ensuring responsible lending while minimizing risk remains an ongoing priority. Although financial institutions face complex challenges, these very complexities present a powerful opportunity: leveraging statistical analysis to drive smarter, evidence-based decision-making.

---

### **Objectives**

- Exploratory analysis from loan data
- Analysing trends of loan data by identifying its distribution over time
- Exploring pattern in loan allocation across the borrower demographic
- Analysing trends between interest rate and socioeconomic factors

---

### **Dataset**

This dataset encompasses important informations related to loan granted for different projects. It is structured with the following columns:

- `Listing Number`: Identifier assigned to each loan
- `Term`: Duration of the loan
- `Loan status`: Current status of loan
- `Borrower Rate`: Interest rate at which the borrower is charged for the loan
- `Estimated Effective Yield`: indicates an estimate of the overall return on investment for the lender
- `Estimated Loss`: Predicts the potential loss associated with the loan
- `Estimated Return`: Forecasts the expected return for the lender
- `Prosper Rating (Alpha)`: Graded classification of the borrower's creditworthiness
- `Occupation`: Profession of borrower
- `Employment Status`: Indicates whether the borrower is employed, unemployed, or others
- `Is Borrower Homeowner`: Specifies whether the borrower owns a home
- `Loan Original Amount`: Represents the initial amount of the loan requested by the borrower
- `Monthly Loan Payment`: Represents the regular monthly payment the borrower is required to make
- `Investors`: Indicates the number of investors participating in the loan

---

### Module 1
#### Task 1: Analyzing Load data
By exploring this dataset, we aim to ensure that each loan decision is grounded in rigorous statistical evaluation, thereby reducing risk and supporting long-term client success. Leveraging Python and library pandas, we transform raw data into actionable insights that foster more informed lending decisions and contribute to a stronger financial future for both clients and institution.

In [58]:
#--- Import library ---
import pandas as pd
import numpy as np
import mysql.connector
from tabulate import tabulate

In [59]:
#--- Load the dataset ----
df = pd.read_csv("Loans.csv")
#--- Inspect data ---
df.head()

,ListingNumber,Term,LoanStatus,BorrowerRate,EstimatedEffectiveYield,EstimatedLoss,EstimatedReturn,ProsperRating (Alpha),Occupation,EmploymentStatus,IsBorrowerHomeowner,LoanOriginalAmount,MonthlyLoanPayment,Investors
0,193129,36,Completed,0.1580,NaN,NaN,NaN,NaN,Other,Self-employed,True,9425,330.43,258
1,1209647,36,Current,0.0920,0.07960,0.0249,0.05470,A,Professional,Employed,False,10000,318.93,1
2,81716,36,Completed,0.2750,NaN,NaN,NaN,NaN,Other,Not available,False,3001,123.32,41
3,658116,36,Current,0.0974,0.08490,0.0249,0.06000,A,Skilled Labor,Employed,True,10000,321.45,158
4,909464,36,Current,0.2085,0.18316,0.0925,0.09066,D,Executive,Employed,True,15000,563.97,20

#### Task 2: Identifying Duplicate Data
We address the task of identifying duplicate entries within our loan records to ensure the accuracy and reliability of our financial data. By counting redundancies, we pursue the goal of producing a clean and well-structured dataset, minimizing the risk of errors and strengthening our capacity to deliver transparent, trustworthy financial services to our clients.

In [60]:
duplicates = df.duplicated().sum()
duplicates

871

#### Task 3: Removing Duplicate Data for precision Lending 
We embark on this task to enhance the efficiency and accuracy of our lending operations. By eliminating duplicates, we create a streamlined and accurate database that reinforces our commitment to responsible lending. Each redundant record removed helps ensure that our clients’ financial journeys are clear, consistent, and free from confusion or ambiguity.

In [84]:
#--- Remove duplicate rows ---
df.drop_duplicates(inplace= True)

#--- Inspect data after removing duplicate rows ----
df.duplicated().sum()

0

#### Task 4: Addressing Null Values 
In this task, We focus on identifying and resolving null values within the loan dataset to ensure the completeness and reliability of our financial records. By understanding and addressing missing data, we create a comprehensive and trustworthy dataset that supports more accurate analysis and informed lending decisions.

In [62]:
null_values= df.isnull().sum()
null_values

ListingNumber                  0
Term                           0
LoanStatus                     0
BorrowerRate                   0
EstimatedEffectiveYield    29084
EstimatedLoss              29084
EstimatedReturn            29084
ProsperRating (Alpha)      29084
Occupation                  3529
EmploymentStatus            2255
IsBorrowerHomeowner            0
LoanOriginalAmount             0
MonthlyLoanPayment             0
Investors                      0
dtype: int64

#### Task 5: Ensuring Data Completeness
We undertake this effort to ensure that our financial records are robust and complete. By eliminating missing values, we deliver a reliable and comprehensive loan dataset that enables well-informed lending decisions. Each null value addressed strengthens the accuracy and dependability of our data foundation, ultimately supporting the financial stability and success of our clients.

In [83]:
#--- Remove rows with null values ----
df.dropna(inplace= True)

#--- Inspect data after removing null values ----
df.isnull().sum()

number         0
duration       0
status         0
rate           0
yield          0
loss           0
return         0
prosper        0
occupation     0
employment     0
home_owner     0
loan_amount    0
payment        0
investors      0
dtype: int64

### Module 2
#### Task 1: Renaming Columns fo Clarity 
We undertake the task of renaming columns within the loan dataset to improve data readability and interpretability. By giving clear, intuitive, and descriptive column names, we facilitate more efficient analysis and ensure a better understanding of the data. Each renamed column brings us closer to a dataset that communicates clearly and concisely, supporting more informed analysis and a more efficient lending process for the benefit of our clients.

In [64]:
#--- Create the namer dictionary ---- 
namer = {
    'ListingNumber': 'number',
    'Term': 'duration',
    'LoanStatus': 'status',
    'BorrowerRate': 'rate',
    'EstimatedEffectiveYield': 'yield',
    'EstimatedLoss': 'loss',
    'EstimatedReturn': 'return',
    'ProsperRating (Alpha)': 'prosper',
    'Occupation': 'occupation',
    'EmploymentStatus': 'employment',
    'IsBorrowerHomeowner': 'home_owner',
    'LoanOriginalAmount': 'loan_amount',
    'MonthlyLoanPayment': 'payment',
    'Investors': 'investors'
}

In [65]:
#--- Rename the columns ----
df = df.rename(columns=namer)
#--- Inspect data ----
df.head()

,number,duration,status,rate,yield,loss,return,prosper,occupation,employment,home_owner,loan_amount,payment,investors
1,1209647,36,Current,0.0920,0.07960,0.0249,0.05470,A,Professional,Employed,False,10000,318.93,1
3,658116,36,Current,0.0974,0.08490,0.0249,0.06000,A,Skilled Labor,Employed,True,10000,321.45,158
4,909464,36,Current,0.2085,0.18316,0.0925,0.09066,D,Executive,Employed,True,15000,563.97,20
5,1074836,60,Current,0.1314,0.11567,0.0449,0.07077,B,Professional,Employed,True,15000,342.37,1
6,750899,36,Current,0.2712,0.23820,0.1275,0.11070,E,Sales - Retail,Employed,False,3000,122.67,1

#### Task 2: Categorizing for Efficiency
In this task, we are in the process of categorizing selected columns within the loan dataset to optimize data storage and improve processing efficiency. By converting appropriate variables to categorical data types, we reduce memory usage and accelerate data analysis. Each categorized column moves us closer to a more agile and efficient dataset, enabling faster analysis and more data-driven lending decisions for the benefit of our clients.

In [66]:
#--- Create variable that contain columns to convert ----
col_to_convert = ['status', 'prosper', 'occupation', 'employment']
#--- Convert the columns to categorical data type ----
df[col_to_convert] = df[col_to_convert].astype('category')
#--- Check the data type after converting columns ----
df.dtypes

number            int64
duration          int64
status         category
rate            float64
yield           float64
loss            float64
return          float64
prosper        category
occupation     category
employment     category
home_owner         bool
loan_amount       int64
payment         float64
investors         int64
dtype: object

#### Task 3: Archiving the insights
In this task, we are carrying out a action to save our loan dataset as a CSV file, ensuring that our valuable insights and lending history are securely preserved for easy retrieval and future analysis.

In [67]:
df.to_csv('loans_data.csv', index= False)

#### Task 4: Data Download, Import, and Database Connection
In this part of our project, we begin by using the necessary SQL libraries previously load to establish a connection to the MySQL database. To load the data, we will use MySQL Workbench. First, log in to our local MySQL instance. Once connected, we created a new schema to house our table named loans_data. After the schema is set up, we use the Table Data Import Wizard in MySQL Workbench to load our CSV file. During the import process, Workbench prompt us to specify the data type for each column. In the process of creating the connection with our database, we should specified the hostname, username, password and database name from MySQL Workbench.

In [86]:
conn = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "password",
    database = "loans"
)
cursor = conn.cursor()

In [87]:
def f(query):
    cursor.execute(query)
    rows = cursor.fetchall()
    headers = [col[0] for col in cursor.description]
    print(tabulate(rows, headers=headers, tablefmt='grid'))

### Module 3
#### Task 1: Glimpse into the World of Loans
In our effort to understand the scope of our loan dataset, we perform a fundamental yet crucial task by counting the records. This step helps us gauge the scale of our lending operations and assess the volume of data available. By determining the number of records, we gain a clear sense of the size and analytical potential of the loan dataset. Each count brings us closer to a deeper understanding of our data, laying the foundation for more informed decisions and strategic planning in lending.

In [71]:
f( """ 
    select count(*) from loans_data;
""")

+------------+
|   count(*) |
+============+
|      82708 |
+------------+

#### Task 2: Profiling Loan Data
In this task, we undertake this analysis to deepen our understanding of interest rates and loan amounts. By selecting, counting, and aggregating key data points within a specified interest rate range, we uncover meaningful statistics. Each metric we compute illuminates patterns in the lending landscape, providing a clearer, more comprehensive view of how interest rates and loan amounts vary and interact.

In [72]:
f(""" select count(*) as loan_count, avg(rate) as average_interest_rate,
       min(rate) as min_interest_rate , max(rate) as max_interest_rate,
       avg(loan_amount) as average_loan_amount, min(loan_amount) as min_loan_amount,
       max(loan_amount) as max_loan_amount
from loans_data where rate between 0.06 and 0.26
limit 10;
""")

+--------------+-------------------------+---------------------+---------------------+-----------------------+-------------------+-------------------+
|   loan_count |   average_interest_rate |   min_interest_rate |   max_interest_rate |   average_loan_amount |   min_loan_amount |   max_loan_amount |
+==============+=========================+=====================+=====================+=======================+===================+===================+
|        62841 |                0.164469 |                0.06 |                0.26 |               10478.6 |              1000 |             35000 |
+--------------+-------------------------+---------------------+---------------------+-----------------------+-------------------+-------------------+

#### Task 3: Navigating Loan Metrics
In this task, We undertake the process of uncovering valuable insights into loan amounts and employment status. By aggregating the total loan amount for each employment group, we gain a comprehensive understanding of our lending practices.

In [73]:
f("""
select employment, sum(loan_amount) as total_loan
from loans_data 
group by employment 
order by employment asc;
""")

+---------------+------------------+
| employment    |       total_loan |
+===============+==================+
| Employed      |      6.50912e+08 |
+---------------+------------------+
| Full-time     |      4.34328e+07 |
+---------------+------------------+
| Not employed  |      3.42163e+06 |
+---------------+------------------+
| Other         |      1.56662e+07 |
+---------------+------------------+
| Part-time     | 861148           |
+---------------+------------------+
| Retired       |      1.66118e+06 |
+---------------+------------------+
| Self-employed |      3.50701e+07 |
+---------------+------------------+

#### Task 4: Charting the Loan Landscape
We undertake a task to group and count loans by their duration and status. This structured approach reveals patterns and trends across our loan portfolio, offering clarity on how loans are distributed across various durations and repayment statuses. These insights empower us to make more informed decisions, refine our strategies, and tailor our lending products to better meet our clients’ needs.

In [74]:
f("""
   select duration, status, count(*) as loan_count
from loans_data
group by duration, status
order by duration, status asc
limit 10;
""")

+------------+------------------------+--------------+
|   duration | status                 |   loan_count |
+============+========================+==============+
|         12 | Chargedoff             |           72 |
+------------+------------------------+--------------+
|         12 | Completed              |         1449 |
+------------+------------------------+--------------+
|         12 | Current                |           62 |
+------------+------------------------+--------------+
|         12 | Defaulted              |           10 |
+------------+------------------------+--------------+
|         12 | FinalPaymentInProgress |           10 |
+------------+------------------------+--------------+
|         12 | Past Due (1-15 days)   |            3 |
+------------+------------------------+--------------+
|         12 | Past Due (16-30 days)  |            3 |
+------------+------------------------+--------------+
|         12 | Past Due (31-60 days)  |            1 |
+------------+------------------------+--------------+
|         12 | Past Due (61-90 days)  |            2 |
+------------+------------------------+--------------+
|         12 | Past Due (91-120 days) |            1 |
+------------+------------------------+--------------+

#### Task 5: Employability and Interest Rates
Our task focuses on exploring the relationship between employment status and interest rates in our loan dataset. By analyzing how employment categories correlate with borrowing costs, we aim to understand the distribution of loans across different employment types. Using SQL’s grouping and aggregation capabilities, we calculate average interest rates for each employment status, revealing key patterns.

In [75]:
f("""
select employment, avg(rate) as average_interest_rate, count(*) as loan_count
from loans_data
group by employment
order by employment asc;
""")

+---------------+-------------------------+--------------+
| employment    |   average_interest_rate |   loan_count |
+===============+=========================+==============+
| Employed      |                0.193055 |        66586 |
+---------------+-------------------------+--------------+
| Full-time     |                0.199485 |         7925 |
+---------------+-------------------------+--------------+
| Not employed  |                0.261352 |          649 |
+---------------+-------------------------+--------------+
| Other         |                0.231241 |         2469 |
+---------------+-------------------------+--------------+
| Part-time     |                0.21276  |          256 |
+---------------+-------------------------+--------------+
| Retired       |                0.216727 |          367 |
+---------------+-------------------------+--------------+
| Self-employed |                0.21196  |         4456 |
+---------------+-------------------------+--------------+

#### Task 6: Homeownership and Interest Rates
We undertake this task to understand how homeownership influences borrowing costs and to evaluate how loans are distributed between homeowners and non-homeowners. By using SQL to group and aggregate the data, we uncover average interest rates for each group, revealing meaningful differences tied to housing status. These insights allow us to refine our lending strategies—offering more competitive, tailored rates based on homeownership—and support a more inclusive, client-centered approach to financial services.

In [76]:
f("""
select home_owner, avg(rate) as average_interest_rate, count(*) as loan_count
from loans_data
group by home_owner
order by home_owner asc;
""")

+--------------+-------------------------+--------------+
| home_owner   |   average_interest_rate |   loan_count |
+==============+=========================+==============+
| FALSE        |                0.206511 |        38864 |
+--------------+-------------------------+--------------+
| TRUE         |                0.187685 |        43844 |
+--------------+-------------------------+--------------+

#### Task 7: Unpacking Prosper Ratings
In this task, we aim to explore how creditworthiness reflected in Prosper rating categories affects borrowing costs and shapes loan distribution. By leveraging SQL’s grouping and aggregation capabilities, we derive average interest rates for each rating tier, revealing how risk assessment translates into pricing. These insights help us better align lending terms with borrower profiles, supporting fairer, more strategic, and data-informed credit decisions.

In [77]:
f("""
select prosper, avg(rate) as average_interest_rate, count(*) as loan_count
from loans_data
group by prosper
order by prosper asc;
""")

+-----------+-------------------------+--------------+
| prosper   |   average_interest_rate |   loan_count |
+===========+=========================+==============+
| A         |               0.112981  |        14186 |
+-----------+-------------------------+--------------+
| AA        |               0.0791865 |         5273 |
+-----------+-------------------------+--------------+
| B         |               0.154794  |        15124 |
+-----------+-------------------------+--------------+
| C         |               0.194922  |        17728 |
+-----------+-------------------------+--------------+
| D         |               0.246926  |        13987 |
+-----------+-------------------------+--------------+
| E         |               0.293852  |         9547 |
+-----------+-------------------------+--------------+
| HR        |               0.317434  |         6863 |
+-----------+-------------------------+--------------+

#### Task 8: Loan Amount and Monthly Payment
We perform this task to understand how loan size influences borrowers' monthly financial obligations. By leveraging SQL’s grouping and aggregation functions, we analyze average monthly payments across different loan amount categories, revealing how borrowing levels translate into repayment commitments. This insight helps inform more transparent and borrower-friendly lending practices.

In [78]:
f("""
select loan_amount, avg(payment) as average_payment, count(*) as loan_count
from loans_data
group by loan_amount
order by loan_amount asc
limit 10;
""")

+---------------+-------------------+--------------+
|   loan_amount |   average_payment |   loan_count |
+===============+===================+==============+
|          1000 |           35.2795 |          761 |
+---------------+-------------------+--------------+
|          1050 |           30.6271 |            7 |
+---------------+-------------------+--------------+
|          1080 |           26.09   |            1 |
+---------------+-------------------+--------------+
|          1099 |           38.13   |            1 |
+---------------+-------------------+--------------+
|          1100 |           37.3676 |           41 |
+---------------+-------------------+--------------+
|          1112 |           34.39   |            1 |
+---------------+-------------------+--------------+
|          1125 |           42.17   |            2 |
+---------------+-------------------+--------------+
|          1150 |           46.0925 |            4 |
+---------------+-------------------+--------------+
|          1175 |           42.48   |            1 |
+---------------+-------------------+--------------+
|          1190 |           44.76   |            1 |
+---------------+-------------------+--------------+

#### Task 9: Examining Interest Rates and Lending Dynamics
In this task, We aim to explore how investor involvement affects borrowing costs and to better understand how loans are distributed across varying levels of investor participation. Using SQL’s grouping and aggregation capabilities, we uncover average interest rates tied to different investor scenarios—revealing how funding dynamics influence loan pricing and informing more strategic, data-driven lending decisions.

In [79]:
f("""
select investors, avg(rate) as average_interest_rate, count(*) as loan_count
from loans_data
group by investors
order by investors asc
limit 10;
""")

+-------------+-------------------------+--------------+
|   investors |   average_interest_rate |   loan_count |
+=============+=========================+==============+
|           1 |                0.17295  |        25893 |
+-------------+-------------------------+--------------+
|           2 |                0.22585  |         1182 |
+-------------+-------------------------+--------------+
|           3 |                0.240248 |          849 |
+-------------+-------------------------+--------------+
|           4 |                0.244712 |          682 |
+-------------+-------------------------+--------------+
|           5 |                0.251354 |          609 |
+-------------+-------------------------+--------------+
|           6 |                0.255058 |          563 |
+-------------+-------------------------+--------------+
|           7 |                0.254576 |          544 |
+-------------+-------------------------+--------------+
|           8 |                0.257614 |          609 |
+-------------+-------------------------+--------------+
|           9 |                0.257265 |          539 |
+-------------+-------------------------+--------------+
|          10 |                0.258328 |          518 |
+-------------+-------------------------+--------------+

#### Task 10: Loan Durations and Return Rates
We embark on this task to understand how loan duration influences investor returns and to evaluate how loans are distributed across different timeframes. By applying SQL’s grouping and aggregation functions, we uncover average return rates for loans of varying lengths, revealing how term length correlates with investment performance. These insights support more informed capital allocation and help align loan structures with investor expectations.

In [80]:
f("""
select duration, avg(`return`) as average_return_rate, count(*) as loan_count
from loans_data
group by duration
order by duration asc;
""")

+------------+-----------------------+--------------+
|   duration |   average_return_rate |   loan_count |
+============+=======================+==============+
|         12 |             0.0606799 |         1613 |
+------------+-----------------------+--------------+
|         36 |             0.095182  |        57112 |
+------------+-----------------------+--------------+
|         60 |             0.101954  |        23983 |
+------------+-----------------------+--------------+

#### Task 11: Prosper Ratings and Return Rates
We undertake this task to understand how creditworthiness represented by Prosper rating categories affects investment returns for our stakeholders and to assess how loans are distributed across these risk tiers. By leveraging SQL’s grouping and aggregation capabilities, we derive average return rates for each rating category, revealing the relationship between borrower risk profiles and investor performance. These insights support more strategic investment decisions and help align portfolio allocations with risk-return objectives.

In [88]:
f("""
select prosper, avg(`return`) as average_return_rate, count(*) as loan_count
from loans_data
group by prosper
order by prosper asc;
""")

+-----------+-----------------------+--------------+
| prosper   |   average_return_rate |   loan_count |
+===========+=======================+==============+
| A         |             0.0697733 |        14186 |
+-----------+-----------------------+--------------+
| AA        |             0.0541023 |         5273 |
+-----------+-----------------------+--------------+
| B         |             0.0866304 |        15124 |
+-----------+-----------------------+--------------+
| C         |             0.0986495 |        17728 |
+-----------+-----------------------+--------------+
| D         |             0.119316  |        13987 |
+-----------+-----------------------+--------------+
| E         |             0.125276  |         9547 |
+-----------+-----------------------+--------------+
| HR        |             0.113661  |         6863 |
+-----------+-----------------------+--------------+

In [89]:
cursor.close()
conn.close()
print("✅ SQL connection closed successfully!")

✅ SQL connection closed successfully!